policy-options {
    prefix-list edge-block {
        {% for ip in blocked %}
        {{ ip }};
        {% endfor %}
    }
    prefix-list edge-block-exceptions {
        {% for ip in exceptions %}
        {{ ip }};
        {% endfor %}
    }
}
