policy-options {
    prefix-list block.edge {
        {% for ip in blocked %}
        {{ ip }};
        {% endfor %}
    }
    prefix-list unblock.edge {
        {% for ip in unblocked %}
        {{ ip }};
        {% endfor %}
    }
}
